@import url("https://fonts.googleapis.com/css?family=Bungee+Inline");
@import url("https://fonts.googleapis.com/css?family=Galindo");
@import url("https://fonts.googleapis.com/css?family=Chango");

#home {
  content: "";
  position: relative;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 10px;
  clip-path: polygon(100% 1%, 0 100%, 100% 100%);

  background-image: url(../../assets/Photos/homebg.jpg);
  background-size: cover;

  height: 120vh;
  margin-top: 1em;
}

#in-home {
  position: absolute;
  height: 110%;
  width: 90%;
  background: black;
  clip-path: polygon(0 0, 100% 34%, 100% 100%, 49% 80%, 0 63%, 0% 25%);
  border-radius: 10px;
  top: 5em;
}

.home-c {
  max-width: 100% !important;
  margin-top: 15px;
}

/* if the screen is 601px or more then: */
@media screen and (min-width: 601px) {
  .home-title {
    font-family: "Bungee Inline", cursive;
    text-align: center;
    color: rgb(212, 249, 6);
    text-shadow: rgb(0, 0, 0) -5px 6px 6px;
    font-size: 8.5vh;
    background-color: rgb(231, 124, 24);
  }
}

/* if the screen is 600px or less then: */
@media screen and (max-width: 600px) {
  .home-title {
    font-family: "Bungee Inline", cursive;
    text-align: center;
    color: rgb(212, 249, 6);
    text-shadow: rgb(0, 0, 0) -5px 6px 6px;
    font-size: 6vh;
    background-color: rgb(231, 124, 24);
  }
}

.home-text1 {
  text-align: justify;
  font-size: 5vh;
  font-family: Galindo, cursive;
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin: 30px;
}

.home-text2 {
  text-align: center;
  font-size: 3.5vh;
  font-family: Galindo, cursive;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

/* if the screen is 601px or more then: */
@media screen and (min-width: 601px) {
  .home-text3 {
    text-align: center;
    font-size: 5vh;
    font-family: Chango, cursive;
    font-weight: bold;
    color: rgb(0, 175, 250);
    margin: 40px;
    text-shadow: rgb(0, 0, 0) 5px 5px 5px;
    /* animation code */
    -webkit-animation: elastic 2s ease-in-out 0s infinite normal;
    -moz-animation: elastic 2s ease-in-out 0s infinite normal;
    -ms-animation: elastic 2s ease-in-out 0s infinite normal;
    animation: elastic 2s ease-in-out 0s infinite normal;
  }
}

/* if the screen is 600px or less then: */
@media screen and (max-width: 600px) {
  .home-text3 {
    text-align: center;
    font-size: 3vh;
    font-family: Chango, cursive;
    font-weight: bold;
    color: rgb(0, 175, 250);
    margin: 40px;
    text-shadow: rgb(0, 0, 0) 5px 5px 5px;
    /* animation code */
    -webkit-animation: elastic 2s ease-in-out 0s infinite normal;
    -moz-animation: elastic 2s ease-in-out 0s infinite normal;
    -ms-animation: elastic 2s ease-in-out 0s infinite normal;
    animation: elastic 2s ease-in-out 0s infinite normal;
  }
}
/* animation keyframes */
@-webkit-keyframes elastic {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes elastic {
  0% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -ms-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -ms-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -ms-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
